body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    width:100%;
    text-align:center;
    margin: 20px 0px 20px 0px;
    background-color: #7bc9e2;
}
.container{
    background: #ffffff;
    width:300px;
    border-radius:6px;
    padding:70px 0px 70px 0px;
    border: #2987b9 4px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
input{
    border-color: #baaec4;
    width:75%;
    padding-top: 5px;
}
button{
    border-color: #6a5acd;
    padding: 5px 10px;
}
h2{
    color: #340551;
}